{% extends "base.html" %}{% block body %}<div class="wrap" style="max-width:820px;padding-bottom:60px">
<div class="steps" id="steps"></div><div class="card fade" id="panel"></div><div id="err"></div>
<div class="row"><button class="btn ghost" id="back">Back</button><button class="btn" id="next">Continue</button></div></div>
<script>const STATES={{ states|tojson }},APPS={{ apps|tojson }},INIT={{ init|tojson }},EDIT_ID={{ edit_id|tojson }};</script>
<script src="{{ url_for('static', filename='wizard.js') }}"></script>{% endblock %}
